#root {
  max-width: 1280px;
  margin: 0 auto;
 padding-left: 2rem;
 padding-right: 2rem;
  text-align: center;
}
*{
  font-family: "DM Sans", sans-serif;
}

.company-logo{
  font-family:"Aladin", system-ui;
}

@media (max-width:768px) {
  #root{
    padding-left: 10px;
    padding-right: 10px;
  }
}