
/*-------------*/
.contact-icon, .social-ac-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color:#008eb10f ;
    color:#008eb1 ; */
    transition: 0.4s ease-in-out;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.contact-detail{
    display: flex;
    flex-direction: column;
    flex: start;
    text-align: start;
}
.contact-detail h1{
    font-size: 20px;
}
.contact-detail p{
    font-size: 16px;
}

.contact-form input,textarea{
   border-top: 0;
   border-left: 0;
   border-right: 0;
    border-bottom: 2px solid gray;
   
    background-color: transparent;
    padding: 10px 10px;
outline: none;
}


.contact-form button{
    width: min(250px,50vw);
    border-radius: 25px;
    height: 35px;
   border:2px solid var(--primary-color);

}
.contact-form button:hover{
    transition:  0.4s ease-in-out;
    background-color: var(--primary-color);
}
