.hero-section{
    height: 80vh;
    width: 100%;

    
    border: 1px solid black;
    display: flex;
}

.hero-desc{

    height: 100%;
    display: flex;
    flex-direction: column;
 width: 50%;
 height: 100%;
 align-items: start;
 justify-content: center;


}

.hero-visual{
    flex: 1;
    background-color: var(--primary-color);
}
.hero-section-heading {

    font-size: clamp(30px ,4vw ,50px);

}
.hero-section-subheading{
    font-size: clamp(14px, 2vw,20px);
}

@media (max-width:500px) {
    
    .hero-section{
        height: 50vh;
  flex-direction: column;
    }
    .hero-desc{
        width: 100%;
    
    
    }
}