.proudct-list-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(clamp(130px,20vw,250px),1fr));
    margin-top: 20px;

    column-gap: 50px;
    row-gap: 50px;
    justify-content: start;
    
    align-items: center;

}

@media (max-width:768px) {
    
.proudct-list-container{
    column-gap: 15px;
}
}