.small-image{

     background-color: rgba(0,0,0,0.1); 

    display: flex;
    justify-content: center;
    align-items: center;

flex:1;
    max-height: 100px;
  
    cursor: pointer;
    max-width: 100px;

  
}

.small-image img{
    height: 100%;

}